*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#07142c;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:30px 15px;
}

.container{
    max-width:1180px;
    margin:auto;
}

.header{
    position:relative;
    width:100%;
    max-width:900px;
    margin:0 auto 25px;

    height:105px;

    background:#162544;
    border-radius:22px;

    display:flex;
    align-items:center;

    overflow:hidden;
}

.header-content{
    display:flex;
    align-items:center;
    gap:16px;

    position:relative;
    z-index:2;

    padding-left:28px;

    /* kasih ruang supaya tidak ketiban building */
    width:calc(100% - 220px);
}

.logo{
    width:48px;
    flex-shrink:0;
}

.header-text{
    display:flex;
    flex-direction:column;
}

.header h1{
    font-size:26px;
    font-weight:700;
    line-height:1.1;
}

.header p{
    margin-top:4px;
    font-size:14px;
    color:#c7d2fe;
    font-style:italic;
}

.building-bg{
    position:absolute;
    right:0;
    bottom:0;

    width:190px;
    height:auto;

    opacity:.85;

    pointer-events:none;
}

.card{
  position:relative;
  width:100%;
  background:rgba(19,35,63,.95);
  border:1px solid #2ec3ff;
  border-radius:14px;
  padding:20px;
  overflow:hidden;

  box-shadow:
  0 0 30px rgba(46,195,255,.15);
  box-shadow:
        0 12px 30px rgba(0,0,0,.35),
        0 0 20px rgba(46,195,255,.08);
  max-width:900px;
  margin:auto;
  padding:18px 22px;
}

.asset-container{
  display:flex;
    align-items:flex-start;
    justify-content:center;
    gap:14px;

    width:fit-content;
    margin:auto;
}

.asset-photo{
  width:145px;
  flex-shrink:0;
  border-radius:18px;
}

.asset-photo img{

    width:100%;
    max-height:205px;
    object-fit:contain;
    border:2px solid #2ec3ff;
    border-radius:16px;
}

.asset-detail{
  flex:1;
  z-index:2;
}

.info-row{
  display:flex;
  gap:14px;
  padding:10px 0;
  border-bottom:
  1px dashed rgba(255,255,255,.15);
}

.icon{
  width:40px;
  height:40px;

  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:14px;
  border:
  1px solid rgba(46,195,255,.3);

  font-size:13px;
}

.info-content span{
  color:#9fb4d8;
  font-size:12px;
}

.info-content h3{
  margin-top:2px;
  font-size:13px;
  font-weight:600;
}

.asset-code{
  color:#2ec3ff;
}

.status-text{
    color:#19ff92;
    font-weight:600;
    font-size:14px;
}

.building{
    position:absolute;
    right:10px;
    top:10px;
    width:320px;

    opacity:1;

    filter:
        brightness(1.35)
        contrast(1.15)
        saturate(1.2);

    pointer-events:none;
}

.bg-plant{
  position:absolute;

  right:0;
  bottom:0;
  width:220px;
  opacity:.05;

  pointer-events:none;
}

.error{
  color:#ff6b6b;
  text-align:center;
}

/* MOBILE */

@media screen and (max-width:768px){
  
      body{
          padding:12px;
      }
  
      .container{
          width:100%;
      }
  
      .header{
  
      max-width:100%;
      height:105px;  
      border-radius:18px;
      padding:0;
      }
      
      .header-content{
      
          width:calc(100% - 110px);      
          padding-left:18px;      
          gap:10px;      
          flex-direction:row;
      }
      
      .logo{      
          width:34px;
      }
      
      .header h1{      
          font-size:18px;
      }
      
      .header p{     
          font-size:13px;
      }
      
     .building{
      width:150px;
      left:50%;
      transform:translateX(-50%);
      bottom:-5px;
      opacity:.75;
  }

    .card{
        width:100%;
        max-width:100%;
        padding:14px;
    }

    .asset-container{
        flex-direction:column;
        gap:10px;
    }

    .asset-photo{
        width:170px;
        margin:auto;
    }
    .asset-photo img{
        border:2px solid #2ec3ff;
        border-radius:16px;
    }
    .asset-detail{
        width:100%;
    }

    .info-row{
        gap:12px;
        padding:8px 0;
    }

    .icon{
        width:52px;
        height:52px;
        font-size:14px;
        border-radius:14px;
    }

    .info-content span{
        font-size:12px;
    }

    .info-content h3{
        font-size:18px;
    }

}
